/* Don't change the existing CSS. */
#outer-box{
  background-color: rgb(58, 19, 95);
  border-width: 10px;
}
.box{
  background-color: blue;
  padding: 10px;
}
.inner-box{
  background-color: red;
}
.white-text{
  color: yellow;
}